.App{
  font-family: 'Inter', sans-serif;
}

h1{
  font-weight: 900;
}

h2, h3, h4, h5, h6{
  font-weight: 800;
}

.nav-link{
  font-weight: 600;
}

.my-nav-link{
  transition: all 0.2s ease-in-out;
}

.my-nav-link:hover{
  color: royalblue !important;
}

#github-face-button{
  background-color:#ECF5FE;
  border:none;
  transition: all 0.2s ease-in-out;

}

#github-face-button:hover{
  background-color:#f5f9fd;

}

.font-plus{
  font-size: 1.3rem;
}

#comic{
  margin-top:160px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #comic {
    margin-top: 5px;
  }
  .font-plus{
    font-size: 1rem;
  }
}